services:
  comicrack:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comicrack-web
    image: comicrack-selkies
    ports:
      - "5700:3000"   # Selkies HTTP
      - "5701:3001"   # Selkies HTTPS
    environment:
      - PIXELFLUX_WAYLAND=true
    environment:
      - PIXELFLUX_WAYLAND=true
    restart: unless-stopped
