version: "3.9"

services:
  comicrack:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comicrack-selkies
    image: comicrack-selkies
    ports:
      - "5700:3000"   # Selkies HTTP
      - "5701:3001"   # Selkies HTTPS
    restart: unless-stopped
